.blokInformation{
    font-weight: 700;
    font-size: 13px;
    margin: 20px 50px 0 50px;
    text-align: center;
}

@media (max-width:2000px){
    .blokInformation{
        font-size: 15px;
    }
}

@media (max-width:350px){
    .blokInformation{
        height:130px;
        font-size: 10px;
    }
}

