.header {
    background-image: url('https://plodovyisad.ru/assets/images/products/706/gala-red.jpg');
    max-width: 1600px;
    margin: 0 auto 0 auto ;
    border-radius: 30px;
    height: 100px;
  }
.sign{
    font-family: 'Dancing Script', cursive;
    color:rgb(255, 255, 255);
    font-weight: 1000;
    font-size: 50px;
    margin: 10px;
}

.sign_word{
    margin:20px;
}
