.div{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.home{
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin: 20px;
}

.blok {
    background-image: url('https://avatars.mds.yandex.net/i?id=b6b48ac3753799416bfb2320a15192de_l-5502383-images-thumbs&n=13');
    max-width: 2000px;
    margin: 0px auto 0 auto ;
    border-radius: 30px;
    height: 300px;
  }

  .Thank{
    margin: 20px;
    font-weight: 600;
    color: aliceblue;
    font-size: 40px;
    display: flex;
    flex-direction: row;
  }

  .text{
    margin: 180px 20px;
    font-weight: 600;
    color: aliceblue;
    font-size: 25px;
  }

  /* .NavLink{
    justify-content:flex-end;
    color:aliceblue;
    text-decoration: none;
}

.NavLink::after{
    display:block;
    content: '';
    width: inherit;
    border-bottom: solid 3px rgb(255, 255, 255);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:left,
}

.NavLink:hover:after { transform: scaleX(1); } */

@media (max-width:1000px){
  .text{
   font-size: 20px;
  }
}


@media (max-width:724px){
  .Thank{
    font-size: 30px;
  }
  .text{
      font-size: 15px;
  }
}

@media (max-width:567px){
  .Thank{
    font-size: 25px;
  }
  .text{
    margin:150px 20px;
}
.blok {
  height: 250px;
}
}

@media (max-width:466px){
  .text{
    margin:110px 20px;
}
}